<div ng-controller="kWisataCtrl">
    <div class="container-fluid">
        <div class="row" ng-show="!is_edit">
            <div class="col-md-12" st-pipe="callServer" st-table="displayed">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left">
                            Kategori Pariwisata
                        </h2>
                        <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                            <button class="btn btn-default" ui-sref="site.dashboard">
                                <i class="glyphicon glyphicon-arrow-left">
                                </i>
                                Kembali
                            </button>
                            <button class="btn btn-primary" ng-click="create()" ng-disabled="landaform.$invalid" ng-hide="is_view">
                                <i class="glyphicon glyphicon-plus">
                                </i>
                                Buat Baru
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!-- Form pencarian -->
                        <form class="form-horizontal form-validation" name="landaform">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-4 control-label text-left">
                                                Pencarian
                                            </label>
                                            <div class="col-sm-8">
                                                <input class="form-control" placeholder="Masukkan Kata Kunci" st-search="nama" type="text">
                                                </input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End -->
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">
                                            Nama Kategori
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-dblclick="view(row)" ng-repeat="row in displayed">
                                        <td>
                                            {{row.nama}}
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right" role="group">
                                                <button class="btn btn-info" ng-click="update(row)" type="button">
                                                    <i class="glyphicon glyphicon-pencil">
                                                    </i>
                                                    Edit
                                                </button>
                                                <button class="btn btn-danger" ng-click="delete(row)" type="button">
                                                    <i class="glyphicon glyphicon-trash">
                                                    </i>
                                                    Hapus
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-pagination" st-items-by-page="10" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="is_edit">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left">
                            Kategori Pariwisata
                        </h2>
                        <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                            <button class="btn btn-default" ng-click="cancel()">
                                <i class="glyphicon glyphicon-arrow-left">
                                </i>
                                Kembali
                            </button>
                            <button class="btn btn-primary" ng-click="save(form)" ng-disabled="landaform.$invalid" ng-hide="is_view">
                                <i class="glyphicon glyphicon-save">
                                </i>
                                Simpan
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation " name="landaform" novalidate="">
                            <div class="col-md-12">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-2 control-label text-left">
                                        Nama
                                    </label>
                                    <div class="col-md-4">
                                        <input class="form-control" ng-model="form.nama" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-md-2 control-label text-left">
                                        Icon
                                    </label>
                                    <div class="col-md-10">
                                        <div class="cc-selector">
                                            <input id="icon1" ng-model="form.icon" type="radio" value="1.png"/>
                                            <label class="drinkcard-cc icon1" for="icon1">
                                            </label>
                                            <input id="icon2" ng-model="form.icon" type="radio" value="2.png"/>
                                            <label class="drinkcard-cc icon2" for="icon2">
                                            </label>
                                            <input id="icon3" ng-model="form.icon" type="radio" value="3.png"/>
                                            <label class="drinkcard-cc icon3" for="icon3">
                                            </label>
                                            <input id="icon4" ng-model="form.icon" type="radio" value="4.png"/>
                                            <label class="drinkcard-cc icon4" for="icon4">
                                            </label>
                                            <input id="icon5" ng-model="form.icon" type="radio" value="5.png"/>
                                            <label class="drinkcard-cc icon5" for="icon5">
                                            </label>
                                            <input id="icon6" ng-model="form.icon" type="radio" value="6.png"/>
                                            <label class="drinkcard-cc icon6" for="icon6">
                                            </label>
                                            <input id="icon7" ng-model="form.icon" type="radio" value="7.png"/>
                                            <label class="drinkcard-cc icon7" for="icon7">
                                            </label>
                                            <input id="icon8" ng-model="form.icon" type="radio" value="8.png"/>
                                            <label class="drinkcard-cc icon8" for="icon8">
                                            </label>
                                            <input id="icon9" ng-model="form.icon" type="radio" value="9.png"/>
                                            <label class="drinkcard-cc icon9" for="icon9">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
