{% extends "layout/main.html" %}

{% block content %}
<div id="page-content">
    <div class="container post-background">
        <ol class="breadcrumb">
            <li>
                <a href="{{path_for('index')}}">
                    Home
                </a>
            </li>
            <li class="active">
                Berita
            </li>
        </ol>
        <div class="row" id="main-content">
            <div class="col-md-8 col-sm-8">
                <section id="content">
                    <header>
                        <h1>
                            Berita Terbaru
                        </h1>
                    </header>
                    {% for key, val in list %}
                    <article class="blog-post">
                        <a href="{{path_for('detail',{'id':val.id,'alias':val.alias})}}">
                            <img src="{{val.img}}"/>
                        </a>
                        <header>
                            <a href="{{path_for('detail',{'id':val.id,'alias':val.alias})}}">
                                <h2>
                                    {{val.judul}}
                                </h2>
                            </a>
                        </header>
                        <figure class="meta">
                            <a class="link-icon" href="#">
                                <i class="fa fa-user">
                                </i>
                                {{val.user}}
                            </a>
                            <a class="link-icon" href="#">
                                <i class="fa fa-calendar">
                                </i>
                                {{val.tanggal}}
                            </a>
                            <div class="tags">
                                <a class="tag article" href="#">
                                    {{val.kategori}}
                                </a>
                            </div>
                        </figure>
                        <p>
                            {{val.cuplikan|raw}}
                        </p>
                        <a class="link-arrow" href="{{path_for('detail',{'id':val.id,'alias':val.alias})}}">
                            Baca Selengkapnya
                        </a>
                    </article>
                    {% endfor %}
                </section>
            </div>
            <div class="col-md-4 col-sm-4">
                {% include 'layout/sidebar.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
