{% extends "layout/main.html" %}

{% block content %}
<div id="page-content">
    <div class="container post-background">
        <ol class="breadcrumb">
            <li>
                <a href="{{path_for('index')}}">
                    Home
                </a>
            </li>
            <li class="active">
                Kontak Kami
            </li>
        </ol>
        <div class="row" id="main-content">
            <div class="col-md-12 col-sm-12">
                <section id="about-us">
                    <header>
                        <h1>
                            Kontak Kami
                        </h1>
                    </header>
                    <div>
                        <section id="contact-information">
                            <div class="row">
                                <div class="col-md-5">
                                    <section id="address">
                                        <header>
                                            <h3>
                                                Alamat
                                            </h3>
                                        </header>
                                        <address>
                                            <strong>
                                                Sekolah Tinggi Teknik Malang
                                            </strong>
                                            <br>
                                                Jl. Suhat Malang, Mojolangu, Kec. Lowokwaru, Kota Malang, Jawa Timur 65142
                                            </br>
                                        </address>
                                        (0341) 412611
                                        <br>
                                            <a href="#">
                                                admin@stt.ac.id
                                            </a>
                                        </br>
                                    </section>
                                    <section id="address">
                                        <header>
                                            <h3>
                                                Developer
                                            </h3>
                                        </header>
                                        <address>
                                            <strong>
                                                Wahyu Agung Tribawono
                                            </strong>
                                            <br>
                                                Jl. Rogoboyo No 132, Ampeldento, Kec. Karangploso, Kab. Malang 65152
                                            </br>
                                        </address>
                                        08563155681
                                        <br>
                                            <a href="#">
                                                wahyuagung26@gmail.com
                                            </a>
                                        </br>
                                    </section>
                                </div>
                                <div class="col-md-7">
                                    <iframe allowfullscreen="" frameborder="0" height="350" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.585100339908!2d112.6271309717713!3d-7.93832597102171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd629e0db3fce8b%3A0x617d9ad90d609ede!2sSekolah+Tinggi+Teknik+Kampus+IV!5e0!3m2!1sid!2sid!4v1500111844261" style="border:0" width="100%">
                                    </iframe>
                                </div>
                            </div>
                        </section>
                        <hr class="thick">
                        </hr>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
