<section id="sidebar">
    <!-- <header> -->
        <h3>
            Berita Populer
        </h3>
    <!-- </header> -->
    {% for key, val in populer %}
    <div class="property small">
        <a href="{{path_for('detail',{'id':val.id,'alias':val.alias})}}">
            <div class="property-image">
                <img alt="" src="{{val.img}}"/>
            </div>
        </a>
        <div class="info">
            <a href="{{path_for('detail',{'id':val.id,'alias':val.alias})}}">
                <h4>
                    {{val.judul}}
                </h4>
            </a>
        </div>
    </div>
    {% endfor %}
</section>